{% extends 'layouts/app.twig' %}
{% block pageclass %}auth{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<section class="reset">
    <div class="reset__container container">
        <div class="column-5 image">
            <div class="image-wrapper">
                <img src="/assets/img/hero-logo.png" alt="Essex Kent Junior Golf Hughes Tour" draggable="false">
            </div>
        </div>

        <div class="column-7 content">
            <div class="content-wrapper">
                <h1>Register</h1>
                <form action="{{ path_for('reset', { 'token': token }) }}" method="post" class="reset-form">
                    <div class="container--full form-container">
                        <div class="field">
                            <label for="email">Email:</label>
                            <input type="email" name="email" value="{{ user.email }}" required>
                        </div>

                        <div class="field">
                            <label for="password">Password:</label>
                            <div class="password-container">
                                <input type="password" name="password" required>
                                <i class="view-password">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <g class="nc-icon-wrapper" fill="#A9BFD6">
                                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                                    </g>
                                </svg>
                                </i>
                            </div>
                        </div>

                        <div class="field">
                            <label for="password">Confirm Password:</label>
                            <div class="password-container">
                                <input type="password" name="passwordConfirm" required>
                                <i class="view-password">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <g class="nc-icon-wrapper" fill="#A9BFD6">
                                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                                    </g>
                                </svg>
                                </i>
                            </div>
                        </div>

                        <button class="button submit">Reset Password</button>
                    </div>
                </form>

                <a href="{{ path_for('forgot') }}">Login</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
