/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/

.container {

    @media screen and (max-width:90em) {
        max-width: 80%;
    }

    @media screen and (max-width:32em) {
        max-width: 90%;
    }
}




// #HEADER
// =========================================================================

.header {
    background:$primary;

    &__container {
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:.5rem 0;

        img {
            max-width:100%;
        }

        .nav {
            background:$primary;
            width:auto;

            li {
                padding:1rem;
                text-transform:uppercase;
                font-weight:600;
                font-size:.9rem;
                cursor:pointer;

                &:last-of-type {
                    padding-right:0;
                }

                &:hover {

                    a:after {
                        transform:scaleX(1);
                    }
                }

                a {
                    position:relative;
                    color:#ffffff;
                    transition:all .2s ease;
                    cursor:pointer;

                    &:after {
                        content:'';
                        position:absolute;
                        width:100%;
                        height:4px;
                        left:0;
                        bottom:-8px;
                        background-color:$secondary;
                        transition:all .2s ease;
                        transform:scaleX(0);
                        transform-origin:left center;
                    }
                }
            }
        }
    }
}




// #HERO
// =========================================================================

.hero {
    background:url('/assets/img/hero-bg.jpg') no-repeat;
    background-size:cover;
    position:relative;

    @media screen and (max-width:90em) {
        background-position:center;
    }

    @media screen and (max-width:64em) {
        background-position-x:40%;
    }

    @media screen and (max-width:32em) {
        background-position-x:0;
    }

    &:after {
        content:'';
        position:absolute;
        width:100%;
        height:5px;
        left:0;
        bottom:1rem;
        background-color:$secondary;
    }

    &:before {
        content:'';
        position:absolute;
        width:40%;
        height:5px;
        right:0;
        bottom:1rem;
        background-color:$primary;
        z-index:100;
    }

    &__container {
        max-width:30%;
        margin-left:20%;
        padding:3rem 0 4rem;
        padding-right:1rem;
        flex-direction:column;

        @media screen and (max-width:90em) {
            max-width:40%;
            margin-left:10%;
        }

        @media screen and (max-width:64em) {
            max-width:45%;
        }

        @media screen and (max-width:32em) {
            max-width: 90%;
            margin-left:5%;
            padding-right:0;
        }

        img {
            margin-bottom:1rem;
            align-self:center;
            max-width:100%;
        }

        h3 {
            color:$primary;
            font-size:2.5rem;
            text-transform:uppercase;

            @media screen and (max-width:32em) {
                text-align:center;
            }
        }

        .buttons {

            @media screen and (max-width:32em) {
                display:flex;
                justify-content:center;
            }
        }

        a {
            color:#333;
            border-radius:.3rem;
            font-weight:900;
            text-transform:uppercase;
            font-size:.9rem;
            padding:.5rem 1.25rem;
            margin-right:1.5rem;

            &:last-of-type {
                margin-right:0;
            }
        }
    }
}




// #SCHEDULE / RESULTS
// =========================================================================

.schedule, .results {

    &__container {
        margin-top:2rem;
        box-shadow:0 0 50px rgba(#333, .2);

        @media screen and (max-width:48em) {
            padding:0;
        }

        .header {
            background:url('/assets/img/schedule-header-bg.jpg') no-repeat;
            margin:0;
            width:100%;
            background-size:100%;

            @media screen and (max-width:32em) {
                background-size:cover;
                background-position:center;
            }

            h2 {
                color:#ffffff;
                text-transform:uppercase;
                text-align:center;
                font-size:2.75rem;
                margin-bottom:0;
                padding:.5rem 0;

                @media screen and (max-width:64em) {
                    font-size:2rem;
                }

                @media screen and (max-width:48em) {
                    font-size:1.75rem;
                }

                @media screen and (max-width:32em) {
                    padding:.5rem;
                }
            }
        }

        .tour {
            padding:1.5rem;

            h3 {
                color:$primary;
                font-size:2.5rem;
                text-transform:uppercase;

                @media screen and (max-width:64em) {
                    font-size:1.8rem;
                }

                span {
                    color:$secondary;
                    font-family:$font-two;
                }
            }

            h4 {
                font-family:$font-one;
                text-transform:uppercase;
                font-weight:800;
                margin-bottom:0;
                margin-right:.25rem;
            }

            &-categories {
                margin-bottom:1rem;

                .cat {
                    display:flex;
                    flex-wrap:wrap;

                    p {
                        margin-bottom:0;
                    }
                }
            }

            &-fees {
                margin-bottom:1rem;
            }

            &-dates {

                h4 {
                    margin-bottom:.5rem;
                }

                .date {
                    display:flex;
                    align-items:center;

                    .title {
                        display:flex;
                        align-items:center;
                    }

                    @media screen and (max-width:64em) {
                        flex-direction:column;
                        align-items:flex-start;
                    }

                    h5 {
                        width:auto;
                        margin-right:.5rem;
                        text-transform:uppercase;
                        font-family:$font-one;
                        font-weight:900;
                        font-size:1rem;
                        color:#ffffff;
                        padding:.25rem 1rem;
                        margin-bottom:.25rem;
                        position:relative;
                        z-index:1000;

                        &:after {
                            content:'';
                            position:absolute;
                            width:100%;
                            height:100%;
                            left:0;
                            bottom:0;
                            background-color:$primary;
                            z-index:-10;
                            transform:skewX(-15deg);

                        }

                        &:first-of-type {
                            color:#000000;
                            margin-right:0;
                            background-color:$secondary;

                            &:after {
                                background-color:$secondary;
                                transform:skew(-15deg, 0deg);
                                transform-origin:bottom left;
                            }
                        }
                    }

                    p {
                        margin-bottom:0;

                        @media screen and (max-width:64em) {
                            margin-bottom:.5rem;
                        }
                    }
                }
            }

            img {
                max-width:100%;
                margin-bottom:-4.5rem;

                @media screen and (max-width:64em) {
                    margin-bottom:0;
                }
            }
        }
    }
}




// #REGISTER
// =========================================================================

.register {
    margin-top:4rem;
    margin-bottom:2rem;

    &__container {
        position:relative;
        background:url('/assets/img/registration-bg.jpg') no-repeat;
        background-size:cover;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:1rem;

        &:before {
            content:'';
            position:absolute;
            width:100%;
            height:1px;
            left:0;
            top:-1.5rem;
            background-color:$secondary;
        }

        h2 {
            color:#ffffff;
            font-size:2.75rem;
            text-transform:uppercase;
            text-align:center;
        }

        .buttons {
            width:40%;

            @media screen and (max-width:64em) {
                width:60%;
            }

            @media screen and (max-width:48em) {
                width:70%;
                margin:0 auto;
            }
        }

        .tours {
            display:flex;
            justify-content:space-between;
            width:100%;

            @media screen and (max-width:32em) {
                flex-direction:column;
            }
        }

        a {
            color:#333333;
            text-transform:uppercase;
            text-align:center;
            font-weight:900;
            font-size:1.5rem;
            display:flex;
            align-items:center;
            justify-content:center;
            width:45%;
            box-shadow:0 0 20px #333;
            border-radius:.5rem;

            @media screen and (max-width:32em) {
                width:100%;

                &:first-of-type {
                    margin-bottom:1rem;
                }
            }

            &.rules {
                max-width:100%;
                width:100%;
                margin-top:1rem;
            }

            span {
                font-size:3.5rem;
            }

            p {
                margin-bottom:0;
                line-height:1;
            }
            
        }
    }
}




// #RESULTS CTA
// =========================================================================

.results-cta {
    margin-top:4rem;
    margin-bottom:2rem;

    &__container {
        position:relative;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:1rem;
        box-shadow:0 0 50px rgba(#333, .2);
        margin-top:2rem;

        @media screen and (max-width:48em) {
            display:flex;
        }

        &:before {
            content:'';
            position:absolute;
            width:100%;
            height:1px;
            left:0;
            top:-1.5rem;
            background-color:$secondary;
        }

        img {
            max-width:300px;
            margin-bottom:1.5rem;

            @media screen and (max-width:32em) {
                max-width:100%;
            }
        }

        a {
            color:#333333;
            text-transform:uppercase;
            text-align:center;
            font-weight:900;
            font-size:1.5rem;
            border-radius:.5rem;
            padding:.5rem 1.5rem;
        }
    }
}




// #RESULTS PAGE
// =========================================================================

.results-page {
    margin-bottom:5rem;

    .back-button__container {
        margin-top:2rem;
        padding-left:0;

        button {
            background-color:#ffffff;
            border-color:#ffffff;
            color:$primary;
            transition:all .2s ease;
            padding-left:0;
            text-transform:uppercase;
            font-weight:900;
            cursor:pointer;

            &:hover {
                color:$secondary;
            }

            i {
                margin-right:.25rem;
            }
        }
    }

    .date {

        a {
            display:flex;
            align-items:center;
            color:#333333;
            transition:all .2s ease;
            cursor:pointer;

            h5 {
                transition:all .2s ease;
            }

            &:hover {
                color:$secondary;

                h5 {
                    color:$secondary;
                }
            }
        }
    }

    .standings {
        border-radius:.5rem;
        color:#333333;
        font-weight:900;
        text-transform:uppercase;
        margin-top:1rem;
        cursor:pointer;
    }
}




// #FOOTER
// =========================================================================

.footer {

    .contact {
        background-color:$primary;

        &__container {
            align-items:center;
            justify-content:center;

            @media screen and (max-width:48em) {
                display:flex;
            }

            @media screen and (max-width:32em) {
                display:block;
            }
            
            .methods {
                padding:.5rem 0;
                display:flex;
                align-items:center;
                justify-content:space-between;

                @media screen and (max-width:48em) {
                    justify-content:center;
                    flex-direction:column;
                }

                @media screen and (max-width:32em) {
                    text-align:center;
                    padding-bottom:0;
                }

                p {
                    margin-bottom:0;
                    color:#ffffff;
                    margin-right:1.5rem;

                    &:last-of-type {
                        margin-right:0;
                    }

                    @media screen and (max-width:48em) {
                        margin-bottom:.5rem;
                        margin-right:0;
                    }

                    i {
                        color:$secondary;
                        margin-right:.25rem;
                    }

                    a {
                        color:#ffffff;
                        transition:all .2s ease;

                        &:hover {
                            color:$secondary;
                        }
                    }
                }
            }
        }
    }

    .copy {
        text-align:center;

        p {
            margin-bottom:0;
            color:$primary;
            padding:.25rem 0;
            font-size:.8rem;
            text-transform:uppercase;
            text-align:center;
            width:100%;
        }
    }
}




// #PLAYERS
// =========================================================================

.players-main {

    .container {
        max-width:80%;
    }

    &__container {
        padding:5rem 0;
        min-height:calc(100vh - 150px);

        .category-wrapper {
            margin-bottom:3rem;
            padding-left:2rem;

            @media screen and (max-width:32em) {
                display:flex;
                flex-direction:column;
                align-items:flex-start;
            }

            button {
                background:none;
                border:none;
                color:$font-color;
                padding:0;
                margin-right:1.5rem;
                font-weight:600;
                text-transform:uppercase;
                position:relative;

                @media screen and (max-width:64em) {
                    margin-bottom:1rem;
                }

                @media screen and (max-width:32em) {
                    margin-bottom:2rem;
                    margin-right:0;
                }

                &:last-of-type {
                    margin-right:0;
                }

                &:after {
                    content:'';
                    position:absolute;
                    width:100%;
                    height:4px;
                    left:0;
                    bottom:-8px;
                    background-color:$secondary;
                    transition:all .2s ease;
                    transform:scaleX(0);
                    transform-origin:left center;
                }

                &:hover, &.is--active {

                    &:after {
                        transform:scaleX(1);
                    }
                }
            }
        }

        .player-card {
            margin:0 2rem 3rem;
            width:calc(50% - 4rem);
            padding:0;
            box-shadow:0 0 50px rgba(#333, .2);

            @media screen and (max-width:90em) {
                margin:0 1rem 3rem;
                width:calc(50% - 2rem);
            }

            @media screen and (max-width:48em) {
                width:100%;
            }

            .column-5 {
                margin:0;
            }

            .container--full {
                height:100%;

                @media screen and (max-width:48em) {
                    padding:0;
                }
            }

            .image-wrapper {
                max-width:100%;
                height:100%;
                overflow:hidden;
                margin:0;

                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }

            .content-wrapper {
                margin:0;
                padding:1rem;

                .field {
                    display:flex;
                    margin-bottom:1rem;
                    flex-wrap:wrap;

                    h5 {
                        font-size:1.1rem;
                        margin-right:.5rem;
                        margin-bottom:0;
                    }

                    p {
                        margin-bottom:0;
                    }
                }

                a {
                    transition:all .2s ease;
                    font-weight:600;

                    &:hover {
                        color:$secondary;
                    }
                }
            }
        }
    }
}




// #VIEW PLAYER
// =========================================================================

.view-player-main {

    &__container {
        padding:3rem 0;

        h1 {
            margin-bottom:0;
        }

        button {
            background-color:#ffffff;
            border-color:#ffffff;
            color:$primary;
            transition:all .2s ease;
            padding-left:0;
            text-transform:uppercase;
            font-weight:900;
            cursor:pointer;
            margin-bottom:1rem;

            &:hover {
                color:$secondary;
            }

            i {
                margin-right:.25rem;
            }
        }

        .main-wrapper {
            margin-top:2rem;

            .image-wrapper {
                width:100%;
                overflow:hidden;

                @media screen and (max-width:48em) {
                    margin-bottom:1rem;
                }

                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }

            .field {
                display:flex;
                margin-bottom:1rem;
                align-items:baseline;

                h2, p {
                    margin-bottom:0;
                }

                h2 {
                    margin-right:.5rem;
                }


                &.bio {
                    flex-direction:column;

                    h2, p {
                        margin-bottom:.5rem;
                    }
                }
            }

            .scores-wrapper {
                margin-top:3rem;
                width:100%;

                table {
                    width:100%;

                    @media screen and (max-width:64em) {
                        display:block;
                        overflow-x:scroll;
                    }

                    tbody {

                        tr {

                            &:nth-of-type(odd) {
                                background-color:$grey-light;
                            }

                            &:hover {
                                box-shadow: 0px 0px 5px #444;
                            }
                        }
                    }
                }
            }
        }
    }
}