{% extends 'layouts/app.twig' %}
{% block title %}Essex Kent Jr. Golf Hughes Tour{% endblock %}
{% block description %}The Southland Junior Tour is a summer golf tournament for competitive boys and girls which has been operating since 2010.{% endblock %}

{% block content %}
    
{% include 'partials/header.twig' %}

<section class="hero" id="home">
    <div class="hero__container container">
        <img src="/assets/img/hero-logo.png" alt="Essex Kent Junior Golf Hughes Tour" draggable="false">
        <p>The Essex Kent Junior Golf Hughes Tour has been rebranded, from its original name, "The Southland Junior Tour". The Hughes Family is very proud of their Life-Golf connections and are excited to provide funding for the tour as the main sponsor. The Essex Kent Junior Golf Hughes Tour is a junior tour which provides an outstanding golf tournament experience for juniors aged 6 to 18 in Essex Kent Counties.</p> 
        <p>Both the 9-Hole and 18-Hole tours combines a fun competitive spirit, education on the rules of golf and standard golf etiquette all while stressing the importance of respecting their fellow players and the course. Participants are selected on a first come first served basis. The tour members have the opportunity to play some of the regions finest courses while forging relationships that will last a lifetime.</p>
        <h3>Join in on the Fun!</h3>
        <div class="buttons">
            <a href="#register" class="button">Register</a>
            <a href="#schedule" class="button">Schedule</a>
        </div>
    </div>
</section>

<section class="schedule" id="schedule">
    <div class="schedule__container container">
        <div class="column-12 header">
            <h2>Essex Kent Junior Golf Hughes Tour Schedule</h2>
        </div>
        <div class="column-6 tour">
            <h3>18 Hole Tour <span>2018</span></h3>
            <div class="tour-categories">
                <div class="cat">
                    <h4>Junior Boys:</h4>
                    <p>Ages 11-13 years old.</p>
                </div>
                <div class="cat">
                    <h4>Boys:</h4>
                    <p>Ages 14-16 years old.</p>
                </div>
                <div class="cat">
                    <h4>Girls:</h4>
                    <p>Ages 11-18 years old. (Limited to 80 players)</p>
                </div>
            </div>
            
            <div class="tour-fees">
                <div class="fee">
                    <h4>Registration Fee:</h4>
                    <p>$300 includes EK Junior Golf Hughes Tour shirt and ticket to awards banquet on August 27, 2018.</p>
                </div>
            </div>

            <div class="tour-dates">
                <h4>Dates:</h4>
                <div class="date">
                    <div class="title">
                        <h5>1</h5>
                        <h5>Seven Lakes</h5>
                    </div>
                    <p><strong>Sunday May 27 - </strong><em>TBA*</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>2</h5>
                        <h5>Fox Glen</h5>
                    </div>
                    <p><strong>Sunday June 24 - </strong><em>2:00pm Shotgun**</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>3</h5>
                        <h5>Pointe West</h5>
                    </div>
                    <p><strong>Thursday July 5 - </strong><em>8:00am Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>4</h5>
                        <h5>Seven Lakes</h5>
                    </div>
                    <p><strong>Sunday July 15 - </strong><em>2:30pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>5</h5>
                        <h5>Ambassador</h5>
                    </div>
                    <p><strong>Monday July 16 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>6</h5>
                        <h5>Sutton Creek</h5>
                    </div>
                    <p><strong>Sunday July 22 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>7</h5>
                        <h5>Beachgrove</h5>
                    </div>
                    <p><strong>Monday July 30 - </strong><em>2:00pm Shotgun***</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>8</h5>
                        <h5>Erie Shore</h5>
                    </div>
                    <p><strong>Saturday August 11 - </strong><em>1:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>9</h5>
                        <h5>Rochester Place</h5>
                    </div>
                    <p><strong>Monday August 13 - </strong><em>8:00am Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>10</h5>
                        <h5>Roseland</h5>
                    </div>
                    <p><strong>Monday August 20 - </strong><em>TBA</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>11</h5>
                        <h5>Essex-Kent</h5>
                    </div>
                    <p><strong>Monday August 13 - </strong><em>8:00am Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>12</h5>
                        <h5>Tilbury</h5>
                    </div>
                    <p><strong>Saturday August 26 - </strong><em>1:00pm Shotgun</em></p>
                </div>
            </div>

            <p>*Junior Golf Expo – Media Day – Sponsors Day  **Rules Seminar at 1:00pm  ***Optimist Junior Qualifier</p>
            
        </div>
        <div class="column-6 tour">
            <h3>9 Hole Tour <span>2018</span></h3>

            <div class="tour-categories">
                <div class="cat">
                    <h4>Boys & Girls:</h4>
                    <p>Ages 10 and under, 11-12 years old, and 13-14 years old. (Limited to 54 players)</p>
                </div>
            </div>
            
            <div class="tour-fees">
                <div class="fee">
                    <h4>Registration Fee:</h4>
                    <p>$140 includes EK Junior Golf Hughes Tour shirt and ticket to Pizza Party on August 19, 2018.</p>
                </div>
            </div>

            <div class="tour-dates">
                <h4>Dates:</h4>
                <div class="date">
                    <div class="title">
                        <h5>1</h5>
                        <h5>Seven Lakes</h5>
                    </div>
                    <p><strong>Sunday May 27 - </strong><em>TBA*</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>2</h5>
                        <h5>Tilbury</h5>
                    </div>
                    <p><strong>Saturday July 7 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>3</h5>
                        <h5>Oxley Beach</h5>
                    </div>
                    <p><strong>Saturday July 14 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>4</h5>
                        <h5>Talbot Trail</h5>
                    </div>
                    <p><strong>Saturday July 21 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>5</h5>
                        <h5>Woodland Hills</h5>
                    </div>
                    <p><strong>Monday August 5 - </strong><em>2:00pm Shotgun</em></p>
                </div>
                <div class="date">
                    <div class="title">
                        <h5>6</h5>
                        <h5>Seven Lakes</h5>
                    </div>
                    <p><strong>Saturday August 18 - </strong><em>2:00pm Shotgun</em></p>
                </div>
            </div>

            <p>*Junior Golf Expo – Media Day – Sponsors Day  **Pizza Party & Prizes</p>

            <div class="image__container">
                <img src="/assets/img/9hole-img.png" alt="golfball on a tee" draggable="false">
            </div>
        </div>
    </div>
</section>

<section class="register" id="register">
    <div class="register__container container">
        <h2>Registration Applications</h2>

        <div class="buttons">
            <div class="tours">
                <a href="/assets/content/9_Hole_Hughes_Tour_Application.pdf" target="_blank" class="button">
                    <span>9</span> 
                    <div>
                        <p>Hole</p>
                        <p>Tour</p>
                    </div>
                </a>
                <a href="/assets/content/18_Hole_Hughes_Tour_Application.pdf" target="_blank" class="button">
                    <span>18</span>
                    <div>
                        <p>Hole</p>
                        <p>Tour</p>
                    </div>
                </a>
            </div>

            <a href="/assets/content/Tour_Rules.pdf" target="_blank" class="button rules">Tournament Rules</a>
        </div>
    </div>
</section>

<section class="results-cta">
    <div class="results-cta__container container">
        <img src="/assets/img/hero-logo.png" alt="Essex Kent Junior Golf Hughes Tour" draggable="false">
        <a href="{{ path_for('results') }}" class="button results">2017 Tournament Results</a>
    </div>
</section>

{% include 'partials/footer.twig' %}
    
{% endblock %}
