{% extends 'layouts/app.twig' %}
{% block title %}Essex Kent Jr. Golf Hughes Tour{% endblock %}
{% block description %}The Southland Junior Tour is a summer golf tournament for competitive boys and girls which has been operating since 2010.{% endblock %}

{% block content %}
    
<header class="header">
    <div class="header__container container">
        <div class="logo">
            <a href="{{ path_for('home') }}"><img src="/assets/img/header-logo.png" alt="Essex Kent JR. Golf Hughes Tour" draggable="false"></a>
        </div>
    </div>
</header>

<section class="results-page">
    <div class="back-button__container container">
        <button type="button" class="go-back"><i class="fa fa-arrow-left"></i> Go back</button>
    </div>

    <div class="results__container container">
        <div class="column-12 header">
            <h2>Essex Kent Junior Golf Hughes Tour Schedule</h2>
        </div>
        <div class="column-6 tour">
            <h3>18 Hole Tour <span>2017</span></h3>
            <div class="tour-categories">
                <div class="cat">
                    <h4>Junior Boys:</h4>
                    <p>Ages 11-13 years old.</p>
                </div>
                <div class="cat">
                    <h4>Boys:</h4>
                    <p>Ages 14-16 years old.</p>
                </div>
                <div class="cat">
                    <h4>Girls:</h4>
                    <p>Ages 11-18 years old. (Limited to 80 players)</p>
                </div>
            </div>

            <div class="tour-dates">
                <h4>Dates:</h4>
                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1KTRnH4ZlyC2_dEhkEToDklunRor60MHJ_9YDIMyPqv8" target="_blank">
                        <div class="title">
                            <h5>1</h5>
                            <h5>Fox Glen</h5>
                        </div>
                        <p><strong>June 25</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1Eq9I4Se_H7VNywdywDbrfaHPTbj1CP41xXbBJfdAeIE/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>2</h5>
                            <h5>Beachgrove</h5>
                        </div>
                        <p><strong>July 3</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1uE51nmc0mVmoBraB3B35X_qd_0BkzmHLwwuyJBe87kA/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>3</h5>
                            <h5>Seven Lakes</h5>
                        </div>
                        <p><strong>July 16</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1xYzwbeLEnVyP1beeRXo5uNXYU0iNCAEzU4VjZ1BHvlE/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>4</h5>
                            <h5>Sutton Creek</h5>
                        </div>
                        <p><strong>July 23</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1QRPTkYmoKbBVEBKBllMRghDCzcym4s1Id2P1OgZhs7Q/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>5</h5>
                            <h5>Ambassador</h5>
                        </div>
                        <p><strong>July 26</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/10mTFn9-ywss1WiUJLr9Z5tL4BTejzhl9Bu6duuy4W1E/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>6</h5>
                            <h5>Essex Golf</h5>
                        </div>
                        <p><strong>July 31</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1C4yc5ilZDBT8xJ8kJbxBWEv5UAjo4HxYkRMOLACxp-s/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>7</h5>
                            <h5>Erie Shores</h5>
                        </div>
                        <p><strong>August 12</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1unH7ML-jhhEdN1nHGd9VTYOjKQOZcwe1JwPtZgkx3JA/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>8</h5>
                            <h5>Rochester Place</h5>
                        </div>
                        <p><strong>August 14</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1P4PdVcRnsga8_AQqF9eubsCJfo_qd1ltXt7wnI7739A/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>9</h5>
                            <h5>Tilbury</h5>
                        </div>
                        <p><strong>August 27</strong></p>
                    </a>
                </div>

                <a href="https://docs.google.com/spreadsheets/d/1CHf0IK1TCAFt3A_a9FV6pqCsKZvL-P2PC6EOdhI9RN0/edit?usp=sharing" target="_blank" class="button standings">Overall Standings</a>
            </div>
        </div>
        <div class="column-6 tour">
            <h3>9 Hole Tour <span>2017</span></h3>

            <div class="tour-categories">
                <div class="cat">
                    <h4>Boys & Girls:</h4>
                    <p>Ages 10 and under, 11-12 years old, and 13-14 years old. (Limited to 54 players)</p>
                </div>
            </div>

            <div class="tour-dates">
                <h4>Dates:</h4>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1cpM8gbWAG7rVQZJaenbuzer-a4zvuQExptkx77FjILE/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>1</h5>
                            <h5>Tilbury</h5>
                        </div>
                        <p><strong>July 8</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1SaGt46K99D81XhJhZMX8ApjGUhsAwReIYYOvewH5eyw/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>2</h5>
                            <h5>Oxley Beach</h5>
                        </div>
                        <p><strong>July 15</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/10XlsLF-BMkrLdexn1ViicEisTIj-kqK7poP44CQGSe4/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>3</h5>
                            <h5>Talbot Trail</h5>
                        </div>
                        <p><strong>July 22</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1c8eAuMj-pfh-WL0dAY4ZSgElIoPjo0Z7ijZ7ElOYr4c/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>4</h5>
                            <h5>Woodland Hills</h5>
                        </div>
                        <p><strong>August 6</strong></p>
                    </a>
                </div>

                <div class="date">
                    <a href="https://docs.google.com/spreadsheets/d/1f8zuIqncehkxQTd86He6WnboQXtNhHsYG_367a5ZREw/edit?usp=sharing" target="_blank">
                        <div class="title">
                            <h5>5</h5>
                            <h5>Seven Lakes</h5>
                        </div>
                        <p><strong>August 19</strong></p>
                    </a>
                </div>

                <a href="https://docs.google.com/spreadsheets/d/18r6vFAwKBNO4lNRePEPAUa68LXCfyDLyoJp1dGhNBXk/edit?usp=sharing" target="_blank" class="button standings">Overall Standings</a>
            </div>
        </div>
    </div>
</section>

{% include 'partials/footer.twig' %}
    
{% endblock %}