<footer class="footer" id="contact">
    <div class="contact">
        <div class="contact__container container">
            <div class="methods">
                <p>Tour Director - Nancy McCann</p>
                <p><i class="fa fa-envelope"></i><a href="mailto:nancymccann4golf@gmail.com">nancymccann4golf@gmail.com</a></p>
                <p><i class="fa fa-phone"></i> <a href="tel:519-982-8559">519-982-8559</a></p>
            </div>

            <div class="socials">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                {# back to top #}
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="copy__container container">
            <p>&copy; 2018 Essex Kent Junior Golf Hughes Tour</p>
        </div>
    </div>
</footer>