<header class="header">
    <div class="header__container container">
        <div class="logo">
            <a href="{{ path_for('home') }}"><img src="/assets/img/header-logo.png" alt="Essex Kent JR. Golf Hughes Tour" draggable="false"></a>
        </div>

        {% include 'partials/nav.twig' %}
    </div>
</header>