<nav class="nav">
    <div class="nav__container container">
        <div class="menu">
            <ul class="nav__navbar is--active">
                <li><a href="#home">Home</a></li>
                <li><a href="{{ path_for('players') }}">Players</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#register">Register</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
         {% include 'partials/hamburger.twig' %}
    </div>
</nav>
