/*
|--------------------------------------------------------------------------
| #HOLES PAGES STYLES
|--------------------------------------------------------------------------
*/

.admin {

    .holes {

        // #INDEX
        // =========================================================================

        &.index {

            .index__container {

                .content-wrapper {
                    width:100%;

                    .course-type {
                        text-align:center;
                        
                        .course-wrapper {
                            display:flex;
                            flex-direction:column;
                        }
                    }
                }
            }
        }
    }
}