/*
|--------------------------------------------------------------------------
| #AUTH PAGE STYLES
|--------------------------------------------------------------------------
*/

.auth {
    background-color:$primary;
    // position:relative;

    // #REGISTER / LOGIN / FORGOT / RESET
    // =========================================================================

    .register, .login, .forgot, .reset {
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:0;

        @media screen and (max-width:48em) {
            height:100%;
            min-height:100vh;
        }

        &__container {
            background:none;
            flex-direction:row;
            background-color:#ffffff;
            border:solid 5px $secondary;
            width:100%;

            @media screen and (max-width:48em) {
                margin:2rem auto;
            }

            &:before {
                content:none;
            }

            .image {
                padding:1rem;

                &-wrapper {
                    overflow:hidden;

                    @media screen and (max-width:64em) and (min-height:769px) {
                        height:100%;
                    }

                    img {
                        width:100%;
                        height:100%;
                        object-fit:cover;

                        @media screen and (max-width:64em) and (min-height:769px) {
                            object-fit:contain;
                        }
                    }
                }
            }

            .content {
                padding:2rem;

                &-wrapper {

                    h1 {
                        color:$primary;
                        font-size:3rem;
                    }

                    .form-container {
                        flex-direction:column;
                        align-items:flex-start;

                        @media screen and (max-width:32em) {
                            padding:0;
                        }

                        .field {
                            width:100%;

                            input {
                                width:100%;
                                margin-top:.25rem;
                            }

                            label {
                                font-weight:600;
                            }

                            .password-container {
                                position:relative;

                                input {
                                    padding-right:3rem;
                                }

                                i {
                                    position:absolute;
                                    right:1rem;
                                    bottom:.1rem;
                                }
                            }
                        }
                    }

                    .button {
                        background-color:$primary;
                        border-color:$primary;
                        margin-bottom:1rem;

                        &:hover {
                            background-color:lighten($primary, 10%);
                            border-color:lighten($primary, 10%);
                        }
                    }

                    a {
                        box-shadow:none;
                        font-size:1rem;
                        color:$font-color;
                        font-weight:400;
                        text-transform:none;
                        text-decoration:underline;
                        padding:0;
                        width:auto;
                        text-align:left;
                        display:block;
                        transition:all .2s ease;

                        &:hover {
                            color:$secondary;
                        }
                    }
                }
            }
        }
    }

}