{% extends 'layouts/app.twig' %}
{% block pageclass %}admin{% endblock %}
{% block title %}Create Tournament{% endblock %}

{% block content %}

<div class="tournaments create">
    <div class="create__container container">
        <div class="top-bar">
            <h1>Create New Tournament</h1>
            <a href="{{ path_for('tournaments.index') }}" class="button">View All</a>
        </div>

        <div class="content-wrapper">
            <form action="{{ path_for('tournaments.create') }}" method="post" class="create-form">
                <div class="container--full form-wrapper">
                    <div class="main column-8">
                        <div class="field">
                            <label for="name">Course Name</label>
                            <input type="text" name="name" placeholder="Seven Lakes" required>
                        </div>

                        <div class="field">
                            <label for="date">Tournament Date</label>
                            <input type="date" name="date" required>
                        </div>

                        <div class="field">
                            <label for="time">Tournament Time <small>(hh:mm am/pm)</small></label>
                            <input type="time" name="time">
                        </div>

                        <div class="field">
                            <label for="length">Tournament Length:</label>
                            <select name="length" required>
                                <option value="9">9 Holes</option>
                                <option value="18">18 Holes</option>
                            </select>
                        </div>

                        <div class="field">
                            <label for="coursePar">Course Par</label>
                            <input type="number" name="coursePar" placeholder="45">
                        </div>

                        <button class="button submit">Create</button>
                    </div>

                    <div class="pars column-4">
                        <h3>Individual Hole Pars (optional)</h3>
                        <div class="container--full holes">
                            <div class="field column-4">
                                <label for="hole1">Hole 1 Par</label>
                                <input type="number" name="hole1" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole2">Hole 2 Par</label>
                                <input type="number" name="hole2" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole3">Hole 3 Par</label>
                                <input type="number" name="hole3" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole4">Hole 4 Par</label>
                                <input type="number" name="hole4" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole5">Hole 5 Par</label>
                                <input type="number" name="hole5" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole6">Hole 6 Par</label>
                                <input type="number" name="hole6" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole7">Hole 7 Par</label>
                                <input type="number" name="hole7" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole8">Hole 8 Par</label>
                                <input type="number" name="hole8" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole9">Hole 9 Par</label>
                                <input type="number" name="hole9" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole10">Hole 10 Par</label>
                                <input type="number" name="hole10" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole11">Hole 11 Par</label>
                                <input type="number" name="hole11" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole12">Hole 12 Par</label>
                                <input type="number" name="hole12" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole13">Hole 13 Par</label>
                                <input type="number" name="hole13" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole14">Hole 14 Par</label>
                                <input type="number" name="hole14" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole15">Hole 15 Par</label>
                                <input type="number" name="hole15" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole16">Hole 16 Par</label>
                                <input type="number" name="hole16" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole17">Hole 17 Par</label>
                                <input type="number" name="hole17" placeholder="5">
                            </div>

                            <div class="field column-4">
                                <label for="hole18">Hole 18 Par</label>
                                <input type="number" name="hole18" placeholder="5">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
